$primaryFontSize: 16px;
$fontColor: aliceblue;
$colorOne: rgba(184, 222, 255, 0.6);
$colorTwo: rgba(66, 167, 255, 0.4);
$colorThree: rgba(58, 58, 218, 0.8);
$bgColor: rgb(61, 64, 72);
$borderDesign: 5px double #525558;
$colorCircle: rgba(82, 166, 250, 0.15);
$colorCross: rgba(255, 124, 112, 0.15);